.profile-page {
    width: 100%;
    height: 100vh;
}
.profile-container {
    width: 100%;
    display: flex;
    gap: 2%;
    background-color: #f5f7f8;
    border-radius: 2%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.411);
    margin: 10px 0;
    justify-content: center;
}
.profile {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    height: 500px;
    margin: 20px 0;
    background-color: #3fa1f6a9;
    justify-content: space-between;
    border-radius: 3%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.575);
}
.profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 90%;
    border-radius: 10%;
}
.profile-pic {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
}
.profile-pic img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin: 10px 0;
    font-size: 1.2em;
}
.details ul li {
    list-style-type: none;
}
.profile button {
    width: max-content;
    padding: 2px;
    font-size: 1em;
    margin: 10px 0;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
}
.profile button:hover {
    background-color: #3FA2F6;
}
@media (max-width:1000px) {
    .profile {
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        height: 500px;
        margin: 20px 0;
        background-color: #3fa1f6a9;
        justify-content: space-between;
        border-radius: 3%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.575);
    }
    .profile-pic {
        width: 100%;
        border-radius: 50%;
    }
    .profile-pic img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}
@media (max-width:768px) {
    .profile {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        height: 500px;
        margin: 20px 0;
        background-color: #3fa1f6a9;
        justify-content: space-between;
        border-radius: 3%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.575);
    }
    .profile-pic {
        width: 100%;
        border-radius: 50%;
    }
    .profile-pic img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}